.home {
  background: #ededed;
  padding: 35px 0;
}

.home-slider-preview {
  width: 100%;
  padding: 25px 70px;
}
.home-slider-preview .slide {
  padding: 10px 0 0;
}
.home-slider-preview .home-slider-item {
  height: 120px;
  width: 215px;
  margin-right: 12px;
  transition: all 0.3s ease-in-out;
  border: 2px solid transparent;
  cursor: pointer;
}
.home-slider-preview .home-slider-item:hover {
  transform: translateY(-10px);
}
.home-slider-preview .slick-current .home-slider-item {
  transform: translateY(-10px);
  border-color: rgba(0, 0, 0, 0.15);
}

.home-slider {
  max-width: 845px;
  width: 100%;
  margin: 0 auto;
}
.home-slider .home-slider-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 845ox;
}
.home-slider .home-slider-item img {
  width: 100%;
}

.advantages-section h2 {
  font-size: 62px;
  margin: 0 auto 50px;
}
.advantages-section h3 {
  font-size: 32px;
}

.advantages-box {
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  margin: 0 0 25px;
}
.advantages-box__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  margin-bottom: 18px;
}

.advantages-section-wrapper {
  margin: 0 0 30px;
  padding: 30px 0;
}

.catalog-section-wrapper {
  padding: 20px 0 0;
}
.catalog-section-wrapper .container {
  max-width: 1400px;
  padding: 0 32px;
}
.catalog-section-wrapper .row {
  margin: 0 -32px;
}
.catalog-section-wrapper .row > * {
  padding: 0 32px;
}

.product-card {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 402px;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.product-card__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.product-card-menu {
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
}
.product-card-menu li {
  margin: 0 0 10px;
}
.product-card-menu li:last-child {
  margin: 0;
}
.product-card-menu li a {
  color: #fff;
}
.product-card-menu li a:hover {
  color: rgb(111, 17, 43);
}

.about-company {
  max-width: 760px;
}

.about-slider {
  width: 100%;
  max-width: 360px;
}

.about-slider-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-slider-item img {
  width: 100%;
}

.slogan-company h2 {
  font-size: 20px;
  line-height: normal;
  margin: 0;
}

.slogan-company-wrapper {
  padding: 40.5px 0;
}

.cooperation {
  padding: 60px 0;
}

.cooperation-box {
  width: 100%;
  max-width: 560px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  font-size: 22px;
  line-height: 1.35;
}
.cooperation-box::before {
  content: "";
  margin: 0 20px 0 0;
  width: 45px;
  height: 49px;
  min-width: 45px;
  background: url("../img/guarantee.svg") no-repeat center center;
  background-size: contain;
}

.video-box {
  width: 100%;
  max-width: 960px;
  padding-top: 56.25%;
  margin: 0 auto;
  position: relative;
}
.video-box iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.electronic-catalog-box {
  width: 100%;
  display: flex;
  align-items: stretch;
  background: #d8dad9;
}
.electronic-catalog-box__img {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.electronic-catalog-box__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.electronic-catalog-box__body {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.electronic-catalog-box__title {
  font-size: 36px;
  line-height: 1.23;
  max-width: 360px;
  color: #000;
  margin: 0 auto;
}
.electronic-catalog-box__title:hover {
  color: rgb(111, 17, 43);
}
.electronic-catalog-box .box-text {
  font-size: 20px;
  font-weight: normal;
  margin: 20px auto 0;
  opacity: 0.7;
  line-height: 25px;
  max-width: 380px;
}

.contacts-content {
  font-size: 22px;
  line-height: 34px;
  font-weight: normal;
}
.contacts-content h1 {
  text-align: left;
  color: #000;
  font-size: 22px;
}
.contacts-content .btn {
  margin: 20px 0 0;
  color: #fff;
  font-size: 20px;
  padding: 10px 20px;
}

.contacts-box ul {
  margin: 5px 0;
}
.contacts-box .box-text p {
  margin: 0 0 5px;
}
.contacts-box .box-text p:last-child {
  margin: 0;
}

.map {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.map img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}