@import 'fonts'
@import 'vars'

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block

blockquote, q
  quotes: none

blockquote:before, blockquote:after, q:before, q:after
  content: ''
  content: none

table
  border-collapse: collapse
  border-spacing: 0

body
  font-size: 16px
  font-weight: 600
  min-width: 320px
  position: relative
  line-height: normal
  font-family: $default-font
  // font-weight: normal
  background: #fff
  color: #000

html, body
  overflow-x: hidden  

img
  display: block
  max-width: 100%
  height: auto

.text-center
  text-align: center

a
  display: block
  text-decoration: none
  transition: .3s ease
  outline: none
  width: fit-content

  &:hover, &:focus
    text-decoration: none

input, textarea, select
  outline: none
  box-shadow: none
  appearance: none
  padding: 0 15px
  box-sizing: border-box
  font-family: $default-font
  border-radius: 3px
  border: 1px solid #000000
  width: 100%
  height: 60px
  background: transparent
  color: #000
  font-size: 16px
  cursor: pointer
  &::placeholder
    color: rgba(187,187,187,1)

  &:hover, &:focus
    outline: none
    box-shadow: none

input[type="radio"], input[type="checkbox"]
  width: auto
  height: auto
  appearance: auto
  margin: 0 5px 0 0
  display: inline

label
  display: block
  width: 100%
  margin: 0 0 13px

  &:last-child
    margin: 0

textarea
  resize: none
  padding: 12px 17px
  height: 103px

button, .btn
  outline: none
  transition: .3s ease
  cursor: pointer
  box-shadow: none
  font-family: $default-font
  padding: 0
  margin: 0
  border: none
  border-radius: 0

  &:hover, &:focus
    outline: none
    box-shadow: none

.btn
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  padding: 10px 60px
  font-size: 16px
  font-weight: bold
  height: 60px
  border-radius: 30px
  border: 1px solid transparent
  transition: 0.3s ease

.btn-lg
  height: 62px
  font-size: 22px

.btn-accent
  border-color: #000
  color: #e3e3e3
  background: $accent
  &:hover, &:focus
    background: darken($accent, 10%)
    border-color: darken($accent, 10%)
    color: #fff

.btn-white
  background: #fff
  border: 1px solid #000000
  color: #000
  &:hover, &:focus
    background: $accent
    color: #fff    

.svg-icon
  display: inline-block
  width: 100%
  height: 100%

strong, b
  font-weight: bold
  display: inline-block

ul, ol
  padding: 0 0 0 20px

.my-ul
  list-style: none
  padding: 0

.list-dots
  list-style-type: disc

h1, .h1
  width: 100%
  font-size: 82px
  line-height: 1.17
  text-transform: none
  font-weight: 600
  margin: 0 0 30px

h2, .h2
  width: 100%
  margin: 0 0 16px
  text-transform: uppercase
  line-height: 1.17
  font-size: 28px

.m-auto
  margin: 0 auto 

.m-20
  margin: 20px 0  

.mb-15
  margin-bottom: 15px   

.mb-16
  margin-bottom: 16px

.mt-45
  margin-top: 45px  

.mt-30
  margin-top: 30px  

.mt-20
  margin-top: 20px

.p-30
  padding: 30px 0

.p-90
  padding: 90px 0  

.text-decoration
  text-decoration: underline  

.box-text
  p
    margin: 0 0 24px
    &:last-child
      margin: 0

.box-text-big
  font-size: 24px
  font-weight: normal
  line-height: 1.7

.container
  padding: 0 10px
  max-width: 1220px

.row
  margin: 0 -10px
  >*
    padding: 0 10px

.container-fluid
  padding: 0 10px

.text-transform
  text-transform: uppercase

.fw-bold
  font-weight: bold

.fw-600
  font-weight: 600

.bg-accent
  background: $accent
  color: #fff

.bg-gray
  background: $gray

.color-accent
  color: $accent

.image-wrapper
  width: 100%
  @include d-flex
  img
    width: 100%

.page
  h1
    text-align: center
    text-transform: uppercase
    color: $accent
    text-transform: none
    font-size: 42px
    margin: 0 auto 30px

.dropdown-toggle
  display: flex
  align-items: center
  padding: 0 0 26px
  &::after
    position: relative
    top: 0
    left: 0
    margin: 5px 0 0 8px
    border-width: 4px 3px 0
    border-style: solid
    border-color: transparent
    border-top-color: inherit
    transition: transform 0.3s
    vertical-align: middle
    display: flex
    align-items: center
    justify-content: center
  &.show
    &::after
      transform: translateY(-50%) rotate(180deg)  

.dropdown-menu
  border-radius: 0
  box-shadow: 0 4px 20px rgba(0,0,0,.25)
  -webkit-font-smoothing: antialiased
  max-width: 300px
  min-width: 300px
  transition: opacity 0.1s cubic-bezier(.895,.03,.685,.22)
  background: #fff
  border: none
  left: 50% !important
  top: 100% !important
  transform: translate(-50%,0) !important
  // margin: 20px auto 0
  padding: 20px 24px 20px 16px
  &::before
    content: ''
    width: 15px
    background-color: #fff
    top: -6.5px
    left: 50%
    position: absolute
    transform: translateX(-50%) rotate(45deg)
    border: solid transparent
    border-color: #eee
    border-width: 0
    border-style: none
    aspect-ratio: 1
  li
    margin: 0 0 20px
    &:last-child
      margin: 0
  a
    padding: 0
    font-size: 18px
    font-weight: normal
    display: flex
    align-items: center
    color: #000
    margin: 0 0 20px
    white-space: normal
    &:hover
      color: $accent
      background: transparent
    &:last-child
      margin: 0
    img
      width: 30px
      height: 30px
      min-width: 30px
      margin: 0 15px 0 0

  // &:hover
  //   &:after
  //     transform: translateY(-50%) rotate(180deg)

// slick  
.slick-slider
  width: 100%

.slick-slide
  outline: none

.slick-dots
  padding: 0
  list-style: none
  position: relative
  bottom: 0
  opacity: 1
  left: 0
  z-index: 1
  display: flex
  align-items: center
  justify-content: center
  padding: 16px 0
  li
    cursor: pointer
    width: 8px
    height: 8px
    background: #000
    transition: 0.3s ease
    border-radius: 50%
    margin: 10px 4px
    &.slick-active
      background: $accent
    button
      display: none

.slick-arrow
  width: 30px
  height: 30px
  border-radius: 50%
  background: #fff
  @include d-flex
  position: absolute
  top: calc(50% + 10px)
  transform: translate(0,-50%)
  opacity: 1
  z-index: 2
  margin: 0

.slick-prev
  left: 0
  background: #fff url('../img/arrow-left.svg') no-repeat center
  background-size: 7px
  transform: translate(0,-50%) rotate(180deg)

.slick-next
  right: 0
  background: #fff url('../img/arrow-right.svg') no-repeat center
  background-size: 7px

//checkbox my
.label-checkbox
  position: relative
  display: flex
  align-items: flex-start
  color: rgba(255, 255, 255, 0.5)
  font-size: 14px
  margin: 15px 0 0
  line-height: 1.14

.inp-check
  display: none

.checkbox-custom
  margin: 0 12px 0 0
  position: relative
  border-radius: 6px
  background-color: #fff
  width: 16px
  height: 16px
  min-width: 16px
  cursor: pointer

.inp-check:checked ~ .checkbox-custom
  background: #fff url("../img/check-black.svg") no-repeat center
  background-size: 8px
//checkbox my end
